@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-wcp-border;
  }
  body {
    @apply bg-wcp-bg text-wcp-text;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  /* hide number input spinners */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
